# create ".env.local" and add the following env variables

PUBLIC_URL=domain_here          ( https://*****.com )
RESEND_API_KEY=api_key_here     ( re_********_************************ )
CONTACT_EMAIL=email_here        ( *****@*****.com )